<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Content/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="~/Content/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,600,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - YMC Admin</title>
    <!-- Bootstrap Core CSS -->


    <link href="~/Content/css/BsMultiSelect.css" rel="stylesheet" />

    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="~/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/dist/css/main.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Datatimepicker -->
    @*<link href="~/Content/vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/vendor/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">*@

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/spinner.css" />

    <!-- bootoast CSS -->
    @*<link href="~/Content/vendor/Bootoast/src/bootoast.css" rel="stylesheet" type="text/css">*@
    <link href="~/Content/vendor/toster/build/toastr.min.css" rel="stylesheet" type="text/css">
    <style>
        .loading {
            display: none;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Patient/index"><img src="~/Content/images/logo.png" /></a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    @if (User.IsInRole(Origin.YMC.Business.Entities.AppRoles.Admin))
                    {
                    <ul class="nav" id="side-menu">
                        <li><a href="/Patient/index"><i class="fa fa-users fa-fw"></i> Patient</a></li>
                        <li><a href="/Doctor/index"><i class="fa fa-users fa-fw"></i> Doctor</a></li>
                        <li>
                            <a href="/Interpreter"><i class="fa fa-star-half-o fa-fw"></i> Interpreter</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-paragraph fa-fw"></i> Partition <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/Partation"> Partition</a></li>
                                <li><a href="/PartationType"> Partition Type</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Social"><i class="fa fa-facebook fa-fw"></i> Social</a>
                        </li>
                        <li>
                            <a href="/Specialty"><i class="fa fa-headphones fa-fw"></i> Specialities</a>
                        </li>
                        <li>
                            <a href="/Testimonial"><i class="fa fa-star-half-o fa-fw"></i> Testimonials</a>
                        </li>
                        <li>
                            <a href="/PatientCallRequests"><i class="fa fa-star-half-o fa-fw"></i> Patient Call Requests</a>
                        </li>
                        
                    </ul>
                    }
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">

            @RenderBody()
            <!-- /.row -->
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/vendor/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendor/Buttons-1.5.1/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendor/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Content/vendor/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/Content/vendor/pdfmake-0.1.32/vfs_fonts.js"></script>
    <script src="~/Content/vendor/Buttons-1.5.1/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendor/Buttons-1.5.1/js/buttons.print.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/dist/js/main.js"></script>

    <!-- cropit-master  JavaScript -->
    <script src="~/Content/cropit-master/dist/jquery.cropit.js"></script>


    <script type="text/javascript" src="~/Content/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script src="~/Content/vendor/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/2.1.0/bootstrap-filestyle.min.js"></script>

    <script src="~/Content/js/BsMultiSelect.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>*@


    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dotType.js"></script>

    <!-- bootoast JS -->
    @*<script src="~/Content/vendor/Bootoast/src/bootoast.js"></script>*@
    <script src="~/Content/vendor/toster/build/toastr.min.js"></script>
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": 0,
                "extendedTimeOut": 0,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
            }

            $('.multiSelect').bsMultiSelect();

            $('#dataTables-example').DataTable({
                searching: false, paging: false, info: false,
                responsive: true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                dom: 'Blfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "order": []
            });

            // cropit plugin
            $('.image-editor').cropit({
                'minZoom': 'fit',
                'allowDragNDrop': true,
                'smallImage': 'allow',
                'maxZoom': 1,
                'fitWidth': true,
                'fitHeight': true,
            });

            // Handle rotation cw
            $('.rotate-cw-btn').click(function () {
                $('.image-editor').cropit('rotateCW');
            });

            // Handle rotation ccw
            $('.rotate-ccw-btn').click(function () {
                $('.image-editor').cropit('rotateCCW');
            });

            $(":file").filestyle({
                dragdrop: true,
                text: 'Choose Files',
                badge: true,
                btnClass: "btn-primary",
                placeholder: "No file"
            });

            $("#btn-cancel").click(function () {
                $('form')[0].reset();
            });

        });

        function onFailure(ex) {

            //bootoast.toast({
            //    message: 'Operation Faild ' + ex.statusText,
            //    type: 'danger',
            //    position: 'top-right',
            //    animationDuration: 300,
            //    dismissable: true
            //});


            toastr["error"]('Operation Faild ' + ex.statusText);

        }

        function onBegin() {
            $(".loading").css("display", "block");
        }

        function onComplete() {
            $(".loading").css("display", "none");
        }

        function ShowTostNotification() {

            //bootoast.toast({
            //    message: 'Operation accomplished successfully',
            //    type: 'success',
            //    position: 'top-right',
            //    animationDuration: 300,
            //    dismissable: true
            //});


            toastr["success"]("Operation accomplished successfully");

        }

        function ScrollUp() {
            var once = true;
            $('html, body').animate({ scrollTop: 0 }, 'slow', function () {
                if (once) {

                    //bootoast.toast({
                    //    message: 'Item information is available to be edited',
                    //    type: 'info',
                    //    position: 'top-right',
                    //    animationDuration: 300,
                    //    dismissable: true
                    //});

                    toastr["info"]('Item information is available to be edited');
                    once = false;
                }
            });
        }

        function ScrollDown() {
            var once = true;
            $('html, body').animate({ scrollTop: $(document).height() }, 'slow', function () {
                if (once) {
                    //bootoast.toast({
                    //    message: 'See change, item added into Table',
                    //    type: 'info',
                    //    position: 'top-right',
                    //    animationDuration: 300,
                    //    dismissable: true
                    //});

                    toastr["info"]('See change, item added into Table');
                    once = false;
                }
            });
        }

    </script>




    @RenderSection("Scripts", required: false)

</body>
</html>