@model Origin.YMC.Business.Entities.Domain.Patients.ViewModel.PatientViewModels
@{
    /**/

    ViewBag.Title = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- /.row -->
<div class="row" style="padding-top: 12px;">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="loading">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>


<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Patients
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dt_Patient_bind"></table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="modal fade customModal modalTheme2" id="DeleteDialongConfirmation" tabindex="-1" role="dialog" aria-labelledby="DeleteDialongConfirmationModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <div class="row d-flex w-100 flex-wrap">
                    <div class="col-xl-10 col-lg-12 col-sm-12">
                        <div style="margin-top:15px;">
                            <label>Are you sure from delete this Patient ? </label> <br />
                            <label>Name : <span id="del_pat_name">  </span> </label> <br />
                            <label>Email: <span id="del_pat_email"> </span> </label> <br />
                            <label>Phone: <span id="del_pat_phone"> </span> </label> <br />
                            <label>If you click on yes you will delete all info about his such as (cases - document -etc..) </label>
                        </div>
                    </div>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0" style="text-align:center">
                <a data-ajax="true" data-ajax-method="GET" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax-success="Active" class="btn btn-sm btn-danger" href="/Patient/Deactive_Activate/">YES</a>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /.col-lg-12 -->
@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $('#dt_Patient_bind').dataTable({
                responsive: true,
                serverSide: true,
                processing: true,
                filter: true,
                orderMulti: false,
                order: [],
                lengthMenu: [10, 25, 50, 75, 100],
                dom: 'Blfrtip',
                buttons: [
                    { extend: 'copyHtml5' },
                    { extend: 'excelHtml5' },
                    { extend: 'csvHtml5' },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        text: 'PDF',
                        titleAttr: 'PDF'
                    },
                    { extend: 'print' }
                ],
                ajax: {
                    url: "/Patient/PageData/",
                    type: "POST"
                },
                columns: [
                    {
                        name: 'FirstName',
                        data: "FirstName",
                        title: "Full Name",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return '<a href="/Patient/PatientProfile?profileid=' + row.id + '">' + row.firstName + ' ' + row.lastName + '</a>';
                        }
                    },
                    {
                        name: 'email',
                        data: "email",
                        title: "Email",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        name: 'day',
                        data: "day",
                        title: "Date Of Birth",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return '<span>' + row.day + '-' + row.month + '-' + row.year + '</span>';
                        }
                    },
                    {
                        name: 'cityName',
                        data: "cityName",
                        title: "City Name",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {

                        name: 'nonUsStateOrProvince',
                        data: "nonUsStateOrProvince",
                        title: "Non Us State Or Province",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {

                        name: 'address1',
                        data: "address1",
                        title: "Address 1",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {

                        name: 'mobilePhone',
                        data: "mobilePhone",
                        title: "Mobile Phone",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {

                        name: 'heardAboutUsId',
                        data: "heardAboutUsId",
                        title: "Heard About Us",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            var heardAboutUsCollection=JSON.parse('@Html.Raw(Json.Encode(Origin.YMC.Core.Content.StaticContent.GetAllHeardAboutUs().Select(c => new { c.Value, c.Name }).ToArray()))');
                            return heardAboutUsCollection.find(x => x.Value === data).Name;
                        }
                    },

                    {
                        name: 'creationDate',
                        data: "creationDate",
                        title: "Creation Date",
                        sortable: false,
                        searchable: false,
                        "render": function (data, type, row, meta) {
                            return  moment(data).format('DD-MM-YYYY') ;
                        }
                    },
                    {
                        name: 'id',
                        data: "id",
                        title: "Action",
                        sortable: false,
                        searchable: false,
                        width: "15%",
                        "render": function (data, type, row, meta) {

                            var titleActive = row.isActive ? "Deactivate" : "Active";
                            var classCss = row.isActive ? "btn-danger" : "btn-success";
                            var x_value = encodeURIComponent(JSON.stringify(row));
                            var result = '<a data-ajax="true" data-ajax-method="GET" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax-success="Active" class="btn btn-sm ' + classCss + '"  href="/Patient/Deactive_Activate/' + data + '">' + titleActive + '</a>&nbsp;&nbsp;&nbsp; <a  onclick="setPatInfoToDel('+x_value+');"; class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#DeleteDialongConfirmation">Delete</a> ';
                            return result;
                        }
                    }
                ]

            });
            $.fn.dataTable.ext.errMode = 'throw';
            $('#myFilter').donetyping(function () {
                var value = $(this).val();
                $('#dt_Patient_bind').dataTable().fnFilter(value);
            });
        });





        function Active() {
            ShowTostNotification();
            $('#dt_Patient_bind').DataTable().ajax.reload();
        }


        function setPatInfoToDel(data_str) {
          var my_object = JSON.parse(decodeURIComponent(data_str));
            $("#del_pat_name").html(' '+ my_object.firstName + ' ' + data.lastName +' ');
            $("#del_pat_email").html(' '+ data.email+' ');
            $("#del_pat_phone").html(' '+ data.mobilePhone + ' ');
        }
    </script>


}
